.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    /* Add more styles as needed */
  }

.menuClose {
    display: none !important;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 3%;
    cursor: pointer;
}
